body {
  background-color: white;
  color: #2d3748;
}

.dark body {
  /* if dark mode is enabled */
  background-color: #1a202c;
  color: #f7fafc;
}
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
.no-scroll {
  overflow: hidden; /* Disables both horizontal and vertical scrolling */
}
